body {
  background-color: aquamarine;
}

@keyframes inAnimation {
  from {
    /* transform: scale(2); */
    z-index: 100;
    border: 5px solid red;
  }

  to {
    transform: scale(0.1);
    z-index: 100;
    border: 5px solid black;
  }
}
@keyframes outAnimation {
  from {
    /* transform: scale(2); */
    /* border: 5px solid green; */
  }

  to {
    /* z-index: 99; */
    /* border: 5px solid blue; */
    /* transform: scale(0.1); */
  }
}
