---
import type { ImageMetadata } from "astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import { noAnimation } from "../utils/view-animation";
const images = await Astro.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}"
);
console.log(images);
---

<Layout title="home">
  <h1>home</h1>
  {
    images.map((image) => (
      <a href={`/${image.default.src.match(/assets\/(.*?)\.jpg/)![1]}`}>
        <Image
          transition:name={image.default.src.match(/assets\/(.*?)\.jpg/)![1]}
          src={image.default}
          alt=""
          width={500}
          transition:animate={noAnimation}
        />
      </a>
    ))
  }
</Layout>
